@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900");

@tailwind base;

@tailwind components;

@tailwind utilities;

$primary: #FB5975;
$secondary: #20336F;
$thirdy: #538CCF;
$yellow: #FFECCA;
$blue: #20336f;
$gray: #343A40;
$light-gray: #f6f3f3;
$light-font-color: #747473;

* {
    font-family: 'Nunito', 'Open Sans', sans-serif;
    font-weight: 300;
}

p, h1, h2, h3, h4, h5, h6, li, div, address {
    color: $gray;
}

img {
    height: auto;
}

// overrides
.custom-mockup {
    .el-step__head {
        &.is-success {
            color: $thirdy;
            border-color: $thirdy;
        }

        &.is-process {
            color: $secondary;
            border-color: $secondary;
        }
    }

    .el-step__main {
        .el-step__title {
            &.is-success {
                color: $thirdy;
            }

            &.is-process {
                color: $secondary;
            }
        }

        .el-step__description {
            &.is-success {
                color: $thirdy;
            }

            &.is-process {
                color: $secondary;
            }
        }
    }
}

button {
    touch-action: manipulation;
}

.el-scrollbar {
    > .el-scrollbar__bar {
        opacity: 1;
    }
}

.el-input-number__increase, .el-input-number__decrease {
    height: 58px !important;
    line-height: 58px !important;
}

.btn-lg {
    padding: 20px 30px !important;
}

.btn-sm {
    padding: 10px 20px !important;

    @media handheld {
        padding: 5px 5px !important;
    }
}

.max-width-card {
    @media (min-width: 768px) {
        max-width: 50%;
    }

    @media (min-width: 1024px) {
        max-width: 30%;
    }
}

.text-heading {
    font-size: 40px;
}

.text-lg {
    font-size: 18px !important;
}

.text-small {
    font-size: 15px !important;
}

.el-input__inner {
    height: 60px !important;
    font-size: 20px !important;
}

.el-select-dropdown__item:hover {
    background-color: $gray !important;
    color: #FFF !important;
}

.bm-burger-button {
    top: 0px !important;
    position: relative !important;
    right: 0px !important;
}

.text-blue {
    color: $blue !important;
}

.text-light-blue {
    color: $thirdy !important;
}

.VueCarousel-wrapper {
    padding-bottom: 10px;
}

.light-blue-bg {
  background-color: #99ABBC;
}

.accent-background {
    background-color: #F2F8FF;
}

.beige-background {
    background-color: #F9F7F3;
}

.slide-item {
    min-height: 350px;
}

.VueCarousel-dot {
    width: 30px !important;
    height: 5px !important;
    padding: 5px !important;
    border-radius: 100px !important;
    outline: none !important;
}

.VueCarousel-dot-container {
    margin-top: 0px !important;
}

.banner-container {
    @extend .beige-background;

    .banner {
        min-height: 100%;

        @media (min-width: 425px) {
            max-height: 900px;
        }

        @media (max-height: 700px) {
            align-items: flex-start !important;

            h1 {
                font-size: 1.875rem;
            }
        }

        .banner-images {
            img {
                max-height: 50px;
            }
        }
    }
}

.footer {
    background: $gray;
}

.footer-banner {
    background-image: url('../images/footer-banner.jpg');
    @media handheld {
        background-size: auto 100%;
    }
}

.custom-button {
    color: #FFF !important;
    background-color: $primary !important;
    border-color: $primary !important;
}

.homepage-selection {
    min-width: 112px;

    @media (min-width: 1024px) and (max-width: 1280px) {
        min-width: 90px;
        font-size: 12px !important;
    }

    &:hover {
        background-color: $thirdy !important;
        border-color: $thirdy !important;
    }

    @media (max-width: 475px) {
        max-width: 100%;
    }
}

.banner-image {
    min-height: 500px;
    max-height: calc(100vh - 113px);
}

.custom-button-blue {
    color: #FFF !important;
    background-color: $secondary !important;
    border-color: $secondary !important;
}

.bm-menu {
    height: 100vh !important;
}

.negative-z-index {
    z-index: -1 !important;
}

.home-icons {
    width: 100px;
    height: auto;
}

.home-sub-icons {
    width: auto;
    height: 40px;
}

.home-company-icons {
    width: 150px;
    height: auto;
}

.gray-bg {
    background: $gray;
}

.light-gray-bg {
    background: $light-gray;
}

.light-font-color {
    color: $light-font-color;
}

.testimonial-arrow {
    position: absolute;
    left: 20px;
    bottom: -15px;
}

.comment-box {
    min-height: 180px;
}

.el-collapse {
    border: none !important;
}

.el-collapse-item__header, .el-collapse-item__wrap {
    background: transparent !important;
    border: none !important;
}

.el-collapse-item__content {
    padding: 25px 0px 0px !important;
}

.el-collapse-item__header {
    .el-icon-plus {
        display: inline-block;
    }

    .el-icon-minus {
        display: none;
    }

    &.is-active {
        .el-icon-plus {
            display: none;
        }

        .el-icon-minus {
            display: inline-block;
        }
    }

    .el-collapse-item__arrow {
        display: none;
    }
}

.bg-blue {
    background: $blue;
}

.bottom-footer {
    border-color: #34457c;
}

.footer-border {
    border-color: #5D6165;
}

.bbb-logo {
    max-width: 100px;
    height: auto;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-left: -11px;

    @media (min-width: 425px) {
        max-width: 280px;
    }
}

.banner-comment {
    top: -250px;
    right: 15px;
    width: 282px;
    min-height: auto;
    background: rgba(251,89,117,0.7);

    p {
        color: #FFF;
    }

    @media only screen and (max-width: 768px) {
        position: relative;
        top: 0px;
        left: 0px;
    }
}
